<div class="sum-background">
    <div class="general-info">
        <img src="/assets/user.png" class="user-image"/>
        <title class="main-titulo">INVESTMENTS APP</title>
        <ul class="lista-summary">
            <li>Name: Juan Miguel Clavijo</li>
            <li>Category: Diversified Investor</li>
            <li>Risk Level: Mid-High</li>
        </ul>
    </div>
    <div>
      <button class="back-button" (click)="goToHome()">Back to Home</button>
    </div>
    <span>
        
    </span>
    <div>
        <title class="titulos">CRYPTO SUMMARY</title>
    </div>
    <div></div>
    <div></div>
    <div class="graficas">
      <ngx-charts-bar-vertical
        [view]="[700, 400]"
        [scheme]="customColors"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
      <table class="tabla-der">
        <tr>
          <th class="table-titles">Product</th>
          <th class="table-titles">Gain</th> 
          <th class="table-titles">Loss</th>
          <th class="table-titles">Operation 1</th>
          <th class="table-titles">Operation 2</th>
          <th class="table-titles">Money invested</th>
          <th class="table-titles">Current money</th>
        </tr>
        <tr>
          <td class="table-content">Bitcoin</td>
          <td class="table-content-gain">4%</td>
          <td class="table-content">-</td>
          <td class="table-content-trade">
            <a class="botones-tabla" href="https://bloomberg.com">Buy</a>
          </td>
          <td class="table-content-trade">
            <a class="botones-tabla" href="https://bloomberg.com">Sell</a>
          </td>
          <td class="table-content">2.000.000</td>
          <td class="table-content">2.800.000</td>
        </tr>
        <tr>
          <td class="table-content">Ethereum</td>
          <td class="table-content-gain">-</td>
          <td class="table-content">-</td>
          <td class="table-content-trade">
            <a class="botones-tabla" href="https://bloomberg.com">Buy</a>
          </td>
          <td class="table-content-trade">
            <a class="botones-tabla" href="https://bloomberg.com">Sell</a>
          </td>
          <td class="table-content">1.000.000</td>
          <td class="table-content">1.000.000</td>
        </tr>
        <tr>
          <td class="table-content">Cardano</td>
          <td class="table-content">-</td>
          <td class="table-content-loss">3%</td>
          <td class="table-content-trade">
            <a class="botones-tabla" href="https://bloomberg.com">Buy</a>
          </td>
          <td class="table-content-trade">
            <a class="botones-tabla" href="https://bloomberg.com">Sell</a>
          </td>
          <td class="table-content">624.000</td>
          <td class="table-content">480.000</td>
        </tr>
      </table>
    </div>
    <div class="centering">
        <button class="botones" (click)="goToDetailedInfo()">Detailed Information</button>
    </div>
    <div>
        <title class="titulos">YOUR PRODUCTS</title>
    </div>
    <table class="tablas">
      <tr>
        <th class="table-titles">Currency Type</th>
        <th class="table-titles">Product Name</th> 
        <th class="table-titles">Risk</th>
        <th class="table-titles">% Recomendation</th>
      </tr>
      <tr>
        <td class="table-content">Crypto</td>
        <td class="table-content">Bitcoin</td>
        <td class="table-content">Mid</td>
        <td class="table-content">7%</td>
      </tr>
      <tr>
        <td class="table-content">Crypto</td>
        <td class="table-content">Ethereum</td>
        <td class="table-content">High</td>
        <td class="table-content">3%</td>
      </tr>
      <tr>
        <td class="table-content">Crypto</td>
        <td class="table-content">Cardano</td>
        <td class="table-content">High</td>
        <td class="table-content">4%</td>
      </tr>
    </table>  
    <footer class="footer">
        <p>Developed by: José Roldán</p>
        <p>Copyright 2021. All rights reserved</p>
    </footer>
</div>
