<div class="sum-background">
    <div class="general-info">
        <img src="/assets/user.png" class="user-image"/>
        <title class="main-titulo">INVESTMENTS APP</title>
        <ul class="lista-summary">
            <li>Name: Juan Miguel Clavijo</li>
            <li>Category: Diversified Investor</li>
            <li>Risk Level: Mid-High</li>
        </ul>
    </div>
    <span>
        
    </span>
    <div>
        <button class="back-button" (click)="goToProjects()">Back to projects</button>
    </div>
    <div>
        <title class="titulos">SOLAR ENERGY PLANT</title>
    </div>
    <div>
        <title class="titulos">By: Solar Inc.</title>
    </div>
    <div class="imgs">
        <img src="/assets/solar-plant.jpg" class="images">
    </div>
    <table class="tablas">
        <tr>
            <td class="table-titles">Invest</td>
            <td class="table-content">$2.000.000</td>
        </tr>
        <tr>
            <td class="table-titles">Anual Revenue</td>
            <td class="table-content">10%</td>
        </tr>
        <tr>
            <td class="table-titles">Payment</td>
            <td class="table-content">By quarter</td>
        </tr>
        <tr>
            <td class="table-titles">Expected profit</td>
            <td class="table-content">$50.000</td>
        </tr>
    </table>
    <div>
        <title class="titulos">OPERATION</title>
    </div>
    <table class="tablas">
        <tr>
            <td class="table-titles">Amount to buy</td>
            <td class="table-content">$2.000.000</td>
        </tr>
        <tr>
            <td class="table-titles">Comision</td>
            <td class="table-content">$10.000</td>
        </tr>
        <tr>
            <td class="table-titles">Total</td>
            <td class="table-content">$2.010.000</td>
        </tr>
        <tr>
            <td class="table-titles">Solar plant reliability</td>
            <td class="table-content">0,32%</td>
        </tr>
        <tr>
            <td class="table-titles">Expected profit</td>
            <td class="table-content">$50.000</td>
        </tr>
        <tr>
            <td class="table-titles">Periodicity</td>
            <td class="table-content">By quarter</td>
        </tr>
        <tr>
            <td class="table-titles">Investment time advised</td>
            <td class="table-content">20 years</td>
        </tr>
        <tr>
            <td class="table-titles">Heritage Amount</td>
            <td class="table-content">22%</td>
        </tr>
        <tr>
            <td class="table-titles">Heritage Amount advised</td>
            <td class="table-content">33%</td>
        </tr>
        <tr>
            <td class="table-titles">Risk</td>
            <td class="table-content">Low</td>
        </tr>
        <tr>
            <td class="table-titles">Investment target</td>
            <td class="table-content">$3.000.000</td>
        </tr>
    </table>
    <a  href="https://bloomberg.com">
        <button class="botones">INVEST</button>
    </a>
    <footer class="footer">
        <p>Developed by: José Roldán</p>
        <p>Copyright 2021. All rights reserved</p>
    </footer>
</div>


