<div class="sum-background">
    <div class="general-info">
        <img src="/assets/user.png" class="user-image"/>
        <title class="main-titulo">INVESTMENTS APP</title>
        <ul class="lista-summary">
            <li>Name: Juan Miguel Clavijo</li>
            <li>Category: Diversified Investor</li>
            <li>Risk Level: Mid-High</li>
        </ul>
    </div>
    <span>
        
    </span>
    <div>
        <title class="titulos">YOUR PORTFOLIO</title>
    </div>
    <div></div>
    <div></div>
    <div class="graficas">
      <ngx-charts-pie-chart 
      [results]="single"
      [legend]="false"
      [legendTitle]="'Currency'" 
      [view]="[700,300]"
      [labels]="true"
      [scheme]="customColors">
      </ngx-charts-pie-chart>
      <table class="tabla-der">
        <tr>
          <th class="table-titles">Product</th>
          <th class="table-titles">Gain</th> 
          <th class="table-titles">Loss</th>
          <th class="table-titles">Operations</th>
        </tr>
        <tr>
          <td class="table-content">Crypto Currencies</td>
          <td class="table-content-gain">7%</td>
          <td class="table-content">-</td>
          <td class="table-content-trade">
            <button class="botones-tabla" (click)="goToSummary()">See Info</button>
          </td>
        </tr>
        <tr>
          <td class="table-content">Etfs</td>
          <td class="table-content-gain">-</td>
          <td class="table-content">-</td>
          <td class="table-content-trade">
            <button class="botones-tabla" (click)="goToSumEtfs()">See Info</button>
          </td>
        </tr>
        <tr>
          <td class="table-content">Renewable Energies</td>
          <td class="table-content">-</td>
          <td class="table-content-loss">2%</td>
          <td class="table-content-trade">
            <button class="botones-tabla">See Info</button>
          </td>
        </tr>
      </table>
    </div>
    <div>
        <title class="titulos">TRENDING IN THE MARKETS</title>
    </div>
    <table class="tablas">
      <tr>
        <th class="table-titles">Product Type</th>
        <th class="table-titles">Product Name</th> 
        <th class="table-titles">Risk</th>
        <th class="table-titles">% Recomendation</th>
        <th class="table-titles">Operation</th>
      </tr>
      <tr>
        <td class="table-content">Crypto</td>
        <td class="table-content">Polkadot</td>
        <td class="table-content">Mid</td>
        <td class="table-content">17%</td>
        <td class="table-content-trade">
            <a class="botones-tabla" href="https://bloomberg.com">Buy</a>
        </td>
      </tr>
      <tr>
        <td class="table-content">Energies</td>
        <td class="table-content">Solaris Inc.</td>
        <td class="table-content">High</td>
        <td class="table-content">54%</td>
        <td class="table-content-trade">
            <a class="botones-tabla" href="https://bloomberg.com">Buy</a>
        </td>
      </tr>
      <tr>
        <td class="table-content">Crypto</td>
        <td class="table-content">DogeCoin</td>
        <td class="table-content">High</td>
        <td class="table-content">21%</td>
        <td class="table-content-trade">
            <a class="botones-tabla" href="https://bloomberg.com">Buy</a>
        </td>
      </tr>
    </table>  
    <footer class="footer">
        <p>Developed by: José Roldán</p>
        <p>Copyright 2021. All rights reserved</p>
    </footer>
</div>
