<div class="sum-background">
    <div class="general-info">
        <img src="/assets/user.png" class="user-image"/>
        <title class="main-titulo">INVESTMENTS APP</title>
        <ul class="lista-summary">
            <li>Name: Juan Miguel Clavijo</li>
            <li>Category: Diversified Investor</li>
            <li>Risk Level: Mid-High</li>
        </ul>
    </div>
    <span>
        
    </span>
    <div>
        <button class="back-button" (click)="goToHome()">Back to home</button>
    </div>
    <div>
        <title class="titulos">PROJECTS</title>
    </div>
    <div>
        <title class="titulos">ETFs</title>
    </div>
    <div>
        <title class="subtitulos">Solar Inc.</title>
    </div>
    <p class="texto">Solar Inc. is an enterprise that installs solar energy power plants at low cost for small companies</p>
    <div class="imgs">
        <img src="/assets/solar-plant.jpg" class="images">
    </div>
    <div>
        <p class="titulos">Solar Energy Plant</p>
        <p class="texto">Actual status</p>
        <div>
            <b class="giant-num">10.51%</b>
        </div>
        <p class="texto">Yearly Reliability</p>
    </div>
    <div class="main-container">
        <div class="first-container">
            <div class="first-cont">
                <img class="little-img" src="/assets/calendar.jpg">
                <b class="date">10/09/2022</b>
            </div>
            <div class="cont-text">
                <p>Start of operation</p>
            </div>
            
        </div>
        <div class="first-container">
            <div class="first-cont">
                <img class="little-img" src="/assets/solar-logo.PNG">
                <b class="date">118</b>
            </div>
            <div class="cont-text-2">
                <p>Solar Panels Quantity</p>
            </div>
            
        </div>
    </div>

    <div class="main-container">
        <div class="first-container">
            <div class="first-cont-2">
                <img class="little-img" src="/assets/lighting.png">
                <b class="date">53,400 uW</b>
            </div>
            <div class="cont-text-3">
                <p>uWatts Objective</p>
            </div>
            
        </div>
        <div class="first-container">
            <div class="first-cont">
                <img class="little-img" src="/assets/money.png">
                <b class="date">200,000,000</b>
            </div>
            <div class="cont-text-4">
                <p>Money Investment</p>
            </div>
            
        </div>
    </div>
    <div class="prog-bar">
        <progress value="67" min="0" max="100"> 67% </progress>
        <p class="texto">67% FINANCED</p>
    </div>
    <footer class="footer">
        <p>Developed by: José Roldán</p>
        <p>Copyright 2021. All rights reserved</p>
    </footer>
</div>

