<div class="sum-background">
    <div class="general-info">
        <img src="/assets/user.png" class="user-image"/>
        <title class="main-titulo">CRYPTO INVESTMENTS APP</title>
        <ul class="lista-summary">
            <li>Name: Juan Miguel Clavijo</li>
            <li>Category: Diversified Investor</li>
            <li>Risk Level: Mid-High</li>
        </ul>
    </div>
    <span>
        
    </span>
    <div>
        <button class="back-button" (click)="goToSummary()">Back to summary</button>
    </div>
    <div>
        <title class="titulos">WIKI</title>
    </div>
    <div class="wiki-text">
        <title class="sub-title">Bitcoin</title>
        <img src="/assets/Bitcoin-Logo.png" class="wiki-images">
        <p>Bitcoin (₿) is a decentralized digital currency, without a central bank or single administrator, that can be sent from user to user on the peer-to-peer bitcoin network without the need for intermediaries. Transactions are verified by network nodes through cryptography and recorded in a public distributed ledger called a blockchain. The cryptocurrency was invented in 2008 by an unknown person or group of people using the name Satoshi Nakamoto. The currency began use in 2009 when its implementation was released as open-source software.</p>
    </div>
    <div class="wiki-text">
        <title class="sub-title">Ethereum</title>
        <img src="/assets/ethereum-logo.png" class="wiki-images">
        <p>Ethereum is a decentralized, open-source blockchain with smart contract functionality. Ether (ETH or Ξ) is the native cryptocurrency of the platform; after Bitcoin, it is the largest cryptocurrency by market capitalization. Ethereum is the most actively used blockchain.</p>
    </div>
    <div class="wiki-text">
        <title class="sub-title">Cardano</title>
        <img src="/assets/cardano-logo.png" class="wiki-images">
        <p>Cardano is an open source blockchain, as well as a platform for executing smart contracts. The development of the project is supervised by the Cardano Foundation, created by the mathematician and Ethereum co-creator Charles Hoskinson based in Colorado, United States.
            Some consider the Cardano project to be the synthesis of Bitcoin and Ethereum. It is the fifth cryptocurrency in terms of capitalization, as of August 1, 2021, after Bitcoin, Ethereum, US Dollar Tether and Binance BNB. Cardano's internal currency is called ADA.    
        </p>
    </div>   
    <footer class="footer">
        <p>Developed by: José Roldán</p>
        <p>Copyright 2021. All rights reserved</p>
    </footer>
</div>
